<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.since1986.demo.gateway.mapper.RemoteCallEventMapper">

    <insert id="save" keyProperty="id" keyColumn="id">
        insert into events (`id`, `_status`, `remote_service_interface_name`, `remote_service_spring_bean_name`, `remote_service_method_name`, `remote_service_method_param_type_value_map`, `_timestamp`)
        values (#{event.id}, #{event._status}, #{event.remoteServiceInterfaceName}, #{event.remote_service_spring_bean_name}, #{event.remoteServiceMethodName}, #{event.remoteServiceMethodParamTypeValueMap}, #{event._timestamp})
    </insert>
    <update id="updateStatus">
        update events
        set _status = #{status}
        where id = #{id}
    </update>
    <select id="findByStatus" resultMap="RemoteCallEvent">
        select *
        from events
        where _status = #{status}
    </select>
    <resultMap id="RemoteCallEvent" type="com.github.since1986.demo.gateway.model.RemoteCallEvent">
        <result property="id" column="id"/>
        <result property="status" column="_status"/>
        <result property="remoteServiceInterfaceName" column="remote_service_interface_name"/>
        <result property="remoteServiceSpringBeanName" column="remote_service_spring_bean_name"/>
        <result property="remoteServiceMethodName" column="remote_service_method_name"/>
        <result property="remoteServiceMethodParamTypeValueMap" column="remote_service_method_param_type_value_map" typeHandler="com.github.since1986.demo.gateway.MyBatisConfig.MapTypeHandler"/>
        <result property="timestamp" column="_timestamp"/>
    </resultMap>
</mapper>
